.vs/

**/bin/
**/obj/
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/obj/Debug/net8.0/QuDeveloperChallenge.Benchmarks.AssemblyInfo.cs
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/obj/Debug/net8.0/QuDeveloperChallenge.Benchmarks.AssemblyInfoInputs.cache
/QuDeveloperChallenge/QuDeveloperChallenge/bin/Release/net8.0/QuDeveloperChallenge.dll
/QuDeveloperChallenge/QuDeveloperChallenge/bin/Release/net8.0/QuDeveloperChallenge.exe
/QuDeveloperChallenge/QuDeveloperChallenge/bin/Release/net8.0/QuDeveloperChallenge.pdb
/QuDeveloperChallenge/QuDeveloperChallenge/obj/Debug/net8.0/apphost.exe
/QuDeveloperChallenge/QuDeveloperChallenge/obj/Debug/net8.0/QuDeveloperChallenge.assets.cache
/QuDeveloperChallenge/QuDeveloperChallenge/obj/Debug/net8.0/QuDeveloperChallenge.csproj.FileListAbsolute.txt
/QuDeveloperChallenge/QuDeveloperChallenge/obj/Release/net8.0/ref/QuDeveloperChallenge.dll
/QuDeveloperChallenge/QuDeveloperChallenge/obj/Release/net8.0/refint/QuDeveloperChallenge.dll
/QuDeveloperChallenge/QuDeveloperChallenge/obj/Release/net8.0/apphost.exe
/QuDeveloperChallenge/QuDeveloperChallenge/obj/Release/net8.0/QuDeveloperChallenge.AssemblyInfo.cs
/QuDeveloperChallenge/QuDeveloperChallenge/obj/Release/net8.0/QuDeveloperChallenge.AssemblyInfoInputs.cache
/QuDeveloperChallenge/QuDeveloperChallenge/obj/Release/net8.0/QuDeveloperChallenge.csproj.CoreCompileInputs.cache
/QuDeveloperChallenge/QuDeveloperChallenge/obj/Release/net8.0/QuDeveloperChallenge.dll
/QuDeveloperChallenge/QuDeveloperChallenge/obj/Release/net8.0/QuDeveloperChallenge.pdb
/QuDeveloperChallenge/QuDeveloperChallenge/obj/Release/net8.0/QuDeveloperChallenge.sourcelink.json
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/bin/Release/net8.0/QuDeveloperChallenge.Benchmarks.dll
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/bin/Release/net8.0/QuDeveloperChallenge.Benchmarks.exe
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/bin/Release/net8.0/QuDeveloperChallenge.Benchmarks.pdb
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/bin/Release/net8.0/QuDeveloperChallenge.dll
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/bin/Release/net8.0/QuDeveloperChallenge.exe
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/bin/Release/net8.0/QuDeveloperChallenge.pdb
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/obj/Debug/net8.0/QuDeveloperChallenge.Benchmarks.csproj.AssemblyReference.cache
/QuDeveloperChallenge/QuDeveloperChallenge.Tests/obj/Debug/net8.0/QuDeveloperChallenge.Tests.AssemblyInfo.cs
/QuDeveloperChallenge/QuDeveloperChallenge.Tests/obj/Debug/net8.0/QuDeveloperChallenge.Tests.AssemblyInfoInputs.cache
/QuDeveloperChallenge/QuDeveloperChallenge.Tests/obj/Debug/net8.0/QuDeveloperChallenge.Tests.assets.cache
/QuDeveloperChallenge/QuDeveloperChallenge.Tests/obj/Debug/net8.0/QuDeveloperChallenge.Tests.csproj.AssemblyReference.cache
/QuDeveloperChallenge/QuDeveloperChallenge.Tests/obj/Debug/net8.0/QuDeveloperChallenge.Tests.csproj.FileListAbsolute.txt
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/obj/Release/net8.0/ref/QuDeveloperChallenge.Benchmarks.dll
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/obj/Release/net8.0/apphost.exe
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/obj/Release/net8.0/QuDeveloperChallenge.Benchmarks.AssemblyInfo.cs
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/obj/Release/net8.0/QuDeveloperChallenge.Benchmarks.AssemblyInfoInputs.cache
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/obj/Release/net8.0/QuDeveloperChallenge.Benchmarks.csproj.AssemblyReference.cache
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/obj/Release/net8.0/QuDeveloperChallenge.Benchmarks.dll
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/obj/Release/net8.0/QuDeveloperChallenge.Benchmarks.pdb
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/obj/Release/net8.0/QuDeveloperChallenge.Benchmarks.sourcelink.json
/QuDeveloperChallenge/QuDeveloperChallenge.Benchmarks/obj/Release/net8.0/refint/QuDeveloperChallenge.Benchmarks.dll
